{% extends "base.html" %}
{% load static %}
{% block title %} Genu Blog {% endblock %}

{% block part_style %}
  <link rel="stylesheet" href="{% static '/css/index_style.css'%}">
  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
{% endblock %}

{% block content %}
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><image width="100%" height="100%" href="{% static '/img/img_laptop.jpg'%}"/></svg>

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>거누의 포트폴리오</h1>
            <p>안녕하세요 코딩을 좋아하는 이건우입니다.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><image width="100%" height="100%" href="{% static '/img/img_keyboard.jpg'%}"/></svg>

        <div class="container">
          <div class="carousel-caption">
            <h1>게임을 좋아합니다.</h1>
            <p>저는 손이 바쁘게 움직이는 것을 좋아합니다.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><image width="100%" height="100%" href="{% static '/img/img_bass.jpg'%}"/></svg>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>취미는 음악입니다.</h1>
            <p>음악을 듣는 것을 좋아하고, 악기를 연주하는 것도 좋아합니다.</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"> <br> <span class="text-muted">Goal</span></h2>
        <p class="lead"><br>
          코딩을 좋아하는 것을 살려<br>
          멋진 웹을 만들고 싶습니다.
        </p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><image width="100%" height="100%" href="{% static '/img/img_books.jpg'%}"/></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">About Me</h2>
        <p class="lead"> <br>
          -2015.03 한림대 전자물리학과<br>
          -2018.09 빅데이터 전공 전과<br>
          -2022.02 한림대 졸업
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><image width="100%" height="100%" href="{% static '/img/img_sketchbook.jpg'%}"/></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">준비중입니다.</h2>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>
    <hr class="featurette-divider">
  </div>
  {% endblock %}